.profile-pic {
    border-radius: 50%;
}

#harsh {
    background-image: url('../images/landscape.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#about {
    background-color: azure;
    text-align: center;
    border: 5px solid black;
}

#about h1 {
    color: brown;
}

#harsh h1, #harsh p {
    color: cyan;
}

#projects {
    margin-top: 100px;
    text-align: center;
    border: 5px solid black;
    background-color: chartreuse;
}

#projects h1 {
    color: blue;
}

.carousel-item {
    height: 500px;
    text-align: center;
    background-color: beige;
    border: 5px solid gray;
}

#contact a {
    text-decoration: none;
    margin: auto;
}

#contact a:hover {
    background-color: beige;
    color: black;
}

#contact h1 {
    text-align: center;
}
